<div class="card ">
    <div class="card-header">
        <h3 class="card-title">
            {{names}}
        </h3>
        <div class="card-tools">
            <button type="button" *ngIf='!isEditing' (click)='onEditBtnClick()' class="btn btn-primary float-right"><i
                    class="fas fa-pen"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="card" *ngIf="isEditing">
            <div class="card-body">
                <app-dream-category-form [entity]='entity' (changeSubmitted)='onEntityChangeSubmitted($event)'
                    (changeCanceled)="onEntityChangeCanceled($event)">
                </app-dream-category-form>
            </div>
        </div>

        <div *ngIf='!isEditing'>
            <ul>
                <li *ngFor='let translation of entity.translations'>
                    <b>Описание ({{translation.language.name}})</b>
                    <p>
                        <i *ngIf='!translation.description' class="text-warning">(нет описания)</i>
                        {{translation.description}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>