<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">Книги</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-6">
            <app-paged-list [page]='books' [canAdd]='true' [canSelect]='true' [displayPropertyName]="'name'"
                [isEnable]='!isListBlocked' (onPageNumberChange)='OnPageChanged($event)'
                (onSearchTextChange)='onSearchTextChanged($event)' (onAdd)='onAdd()'
                (onSelectedItemChange)='onBookSelectionChanged($event)'>
            </app-paged-list>
        </div>
        <div *ngIf='selectedBook.guid' class="col-lg-9 col-md-7 col-sm-6">
            <app-book [bookGuid]="selectedBook.guid" (onBookChanged)='onBookEdited($event)'
                (onDisplayModeChanged)='onDisplayModeChanged($event)'></app-book>
        </div>
    </div>
</div>