<mat-card>
    <mat-card-title>{{bookNames}}
        <button type="button" *ngIf='!isEditing' (click)='onEditBtnClick()' class="btn btn-primary float-right"><i
                class="fas fa-pen"></i>
        </button>
    </mat-card-title>
    <mat-card-actions align="end"></mat-card-actions>
    <mat-card-content>

        <app-book-form *ngIf="isEditing" [bookEntity]='book' (changeSubmitted)='onBookChangeSubmitted($event)'
            (changeCanceled)="onBookChangeCanceled($event)">
        </app-book-form>
        <div *ngIf='!isEditing'>
            <ul>
                <li *ngFor='let bookTranslation of book.translations'>
                    <b>Описание ({{bookTranslation.language.name}})</b>
                    <p>
                        <i *ngIf='!bookTranslation.description' class="text-warning">(нет описания)</i>
                        {{bookTranslation.description}}
                    </p>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>