<form (ngSubmit)="onChangeSubmit($event)" [formGroup]="form" novalidate>

    <div class="form-group">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="bookEntity">
            <button *ngIf="bookEntity" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <label for="ruName">Название ({{ruLanguage.name}})</label>
        <input type="text" class="form-control" formControlName="ruName" placeholder="Название...">
        <div [hidden]="form.controls['ruName'].valid || form.controls['ruName'].untouched">
            <p style="color: red;">Укажите обязательно!</p>
        </div>

        <label for="ruDescription">Описание ({{ruLanguage.name}})</label>
        <textarea class="form-control" rows="6" placeholder="Описание..." formControlName="ruDescription"></textarea>
        <hr>
    </div>

    <div class="form-group">
        <label for="enName">Название ({{enLanguage.name}})</label>
        <input type="text" class="form-control" formControlName="enName" placeholder="Название...">
        <div [hidden]="form.controls['enName'].valid || form.controls['enName'].untouched">
            <p style="color: red;">Укажите обязательно!</p>
        </div>

        <label for="enDescription">Описание ({{enLanguage.name}})</label>
        <textarea class="form-control" rows="6" placeholder="Описание..." formControlName="enDescription"></textarea>
        <hr>
    </div>

    <button class="btn btn-default float-right" type="button" (click)='onChangeCancel($event)'>
        <i class="fas fa-times"></i> Отмена
    </button>
    <button type="submit" class="btn btn-success float-right mr-3" [disabled]="!form.valid">
        <i class="fas fa-save"></i> Сохранть
    </button>

</form>
<button (click)="alertConfirmation()">Show me Confirmation</button>