<form (ngSubmit)="onChangeSubmit($event)">

    <div class="form-group" *ngFor='let bookTranslation of bookEntity.translations'>
        <label for="{{bookTranslation.language.name}}.name">Название ({{bookTranslation.language.name}})</label>
        <input type="text" class="form-control" [(ngModel)]='bookTranslation.name'
            name="{{bookTranslation.language.name}}.name" placeholder="Название...">

        <label for="{{bookTranslation.language.name}}.description">Описание ({{bookTranslation.language.name}})</label>
        <textarea class="form-control" rows="6" placeholder="Описание..." [(ngModel)]='bookTranslation.description'
            name="{{bookTranslation.language.name}}.description"></textarea>
        <hr>
    </div>
    <button class="btn btn-default float-right" type="button" (click)='onChangeCancel($event)'>
        <i class="fas fa-times"></i> Отмена
    </button>
    <button type="submit" class="btn btn-success float-right mr-3">
        <i class="fas fa-save"></i> Сохранть
    </button>
</form>