@model IEnumerable<(string Link, string Label, string Icon)>
@{
    <div class="card card-info card-outline">
        <div class="card-header">
            <h3 class="card-title">Действия</h3>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column ">
                @foreach (var item in Model)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="@item.Link">
                            <i class="fas @item.Icon" style="margin-right:10px"></i>@item.Label
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
